@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300&family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 15px 100px;
}
.flex-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 15px;
}

.google-card{
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 12px;
    
    
    
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.title{
    color: rgb(105, 97, 97)
    font-family:Arial, Helvetica, sans-serif ;
}
.desc{
    color: rgb(119, 127, 124);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.card-footer{
    border-top: 1px solid lightgray;
    padding: 15px 20px;
    
}  

.card-footer a{
    color: rgb(11,87,208);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}